[submodule "vendor/TimelineJS3"]
	path = vendor/TimelineJS3
	url = https://github.com/gotjoshua/TimelineJS3
[submodule "vendor/TimelineJS2"]
	path = vendor/TimelineJS2
	url = https://github.com/gotjoshua/TimelineJS
[submodule "vendor/leaflet/master"]
	path = vendor/leaflet/master
	url = https://github.com/gotjoshua/Leaflet
[submodule "src/vendor/leaflet"]
	path = src/vendor/leaflet
	url = https://github.com/gotjoshua/recline.view.map
[submodule "vendor/leaflet.markercluster"]
	path = vendor/leaflet.markercluster
	url = https://github.com/gotjoshua/Leaflet.markercluster
[submodule "src/vendor/timeline"]
	path = src/vendor/timeline
	url = git@github.com:gotjoshua/recline.view.timeline.git
